{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='class_id' id='class_id' value="{$info.class_id}" />
	<div class="ibox-content layui-form">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row" style="margin-top:-20px;">
				<div class="layui-tab layui-tab-brief" lay-filter="test">
					<ul class="layui-tab-title">
						<li class="layui-this">基本信息</li>
						<li>拓展信息</li>
					</ul>
					<div class="layui-tab-content" style="margin-top:10px;">
						<div class="layui-tab-item layui-show">
							<div class="col-sm-12">
							<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">所属父级：</label>
						<div class="col-sm-9">
							<select lay-ignore name="pid" class="form-control" id="pid">
								<option value="">请选择</option>
								{sql query="select class_id,class_name,pid from pre_catagory"}
									<option value="{$sql.class_id}" {if condition="$info.pid eq $sql.class_id"}selected{/if}>{$sql.class_name}</option>
								{/sql}
							</select>
							<span class="help-block m-b-none">当前栏目的上级分类</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">分类名称：</label>
						<div class="col-sm-9">
							<input type="text" id="class_name" value="{$info.class_name}" name="class_name" class="form-control" placeholder="请输入分类名称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">栏目属性：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['type'])){ $info['type'] = 1; }; ?>
							<input name="type" value="1" type="radio" {if condition="$info.type eq '1'"}checked{/if} title="频道">
							<input name="type" value="2" type="radio" {if condition="$info.type eq '2'"}checked{/if} title="列表">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">栏目模板：</label>
						<div class="col-sm-6">
							<input type="text" id="list_tpl" value="{$info.list_tpl}" name="list_tpl" class="form-control" placeholder="请输入栏目模板">
						</div>
						<div class="col-sm-3" style="margin-left:-30px;">
							<select lay-ignore class="form-control" target="#list_tpl">
								<option value="">请选择</option>
								{foreach name="tpList" id="vo"}
								<option value="{$vo.name}">{$vo.file}</option>
								{/foreach}			
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">内容模板：</label>
						<div class="col-sm-6">
							<input type="text" id="detail_tpl" value="{$info.detail_tpl}" name="detail_tpl" class="form-control" placeholder="请输入内容模板">
						</div>
						<div class="col-sm-3" style="margin-left:-30px;">
							<select lay-ignore class="form-control" target="#detail_tpl">
								<option value="">请选择</option>
								{foreach name="tpList" id="vo"}
								<option value="{$vo.name}">{$vo.file}</option>
								{/foreach}								
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">栏目图片：</label>
						<div class="col-sm-6">
							<input type="text" id="pic" value="{$info.pic}" name="pic" {:hook('view_big_pic',['type'=>2])} class="form-control" placeholder="请输入栏目图片">
						</div>
						<div class="col-sm-2" style="position:relative; right:30px;">
							<span id="pic_upload"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">状态：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['status'])){ $info['status'] = 10; }; ?>
							<input name="status" value="10" type="radio" {if condition="$info.status eq '10'"}checked{/if} title="正常">
							<input name="status" value="1" type="radio" {if condition="$info.status eq '1'"}checked{/if} title="禁用">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">绑定模型：</label>
						<div class="col-sm-9">
							<select lay-ignore name="module_id" class="form-control" id="module_id">
								<option value="">请选择</option>
								{sql query="select extend_id,title from pre_extend where type = 1"}
									<option value="{$sql.extend_id}" {if condition="$info.module_id eq $sql.extend_id"}selected{/if}>{$sql.title}</option>
								{/sql}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">上传配置：</label>
						<div class="col-sm-9">
							<select lay-ignore name="module_id" class="form-control" id="upload_config_id">
								<option value="">请选择</option>
								{sql query="select id,title from pre_config_upload where status = 1"}
									<option value="{$sql.id}" {if condition="$info.upload_config_id eq $sql.id"}selected{/if}>{$sql.title}</option>
								{/sql}
							</select>
						</div>
					</div>
							<!-- form end -->
							</div>
						</div>
						<div class="layui-tab-item">
							<div class="col-sm-12">
							<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">副标题：</label>
						<div class="col-sm-9">
							<input type="text" id="subtitle" value="{$info.subtitle}" name="subtitle" class="form-control" placeholder="请输入副标题">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">文件路径：</label>
						<div class="col-sm-9">
							<input type="text" id="filepath" value="{$info.filepath}" name="filepath" class="form-control" placeholder="请输入文件保存路径">
							<span class="help-block m-b-none">静态化生成的文件路径 斜杠 /开头</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">生成文件名：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['filename'])){ $info['filename'] = 'index.html'; }; ?>
							<input type="text" id="filename" value="{$info.filename}" name="filename" class="form-control" placeholder="请输入文件名">
							<span class="help-block m-b-none">静态化生成的文件名</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">栏目关键词：</label>
						<div class="col-sm-9">
							<input type="text" id="keyword" value="{$info.keyword}" name="keyword" class="form-control" placeholder="请输入栏目关键词">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">栏目描述：</label>
						<div class="col-sm-9">
							<textarea id="description" name="description"  class="form-control" placeholder="请输入栏目描述">{$info.description}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">跳转地址：</label>
						<div class="col-sm-9">
							<input type="text" id="jumpurl" value="{$info.jumpurl}" name="jumpurl" class="form-control" placeholder="请输入跳转地址">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">排序：</label>
						<div class="col-sm-9">
							<input type="text" id="sortid" value="{$info.sortid}" name="sortid" class="form-control" placeholder="请输入排序">
						</div>
					</div>
							<!-- form end -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="{if condition="$info.class_id neq ''"}CodeInfoDlg.update(){else/}CodeInfoDlg.add(){/if}" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/admin/Catagory.js?t=<?php echo rand(1000,9999)?>" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js?t=1498856285724" charset="utf-8"></script>
<script>
layui.config({dir: '__PUBLIC__/static/js/plugins/layui/'});
	layui.use(['layer', 'form'], function () {
	window.layer = layui.layer;
	window.form = layui.form();
});
layui.use('element', function(){
	var element = layui.element();
	element.on('tab(test)', function(elem){
	});
});
uploader('pic_upload','pic','image',false,'','{:url("admin/Upload/uploadImages")}');

$(function(){
	$("select").change(function(){
		pick = $(this).attr('target');
		var val = $(this).find('option:selected').val();
		$(pick).val(val);
	});
})

</script>


{/block}
